<!DOCTYPE html>
<html>
	<head>
		<title> Classrooms </title>
		<meta charset = 'utf-8' />
		<link rel="stylesheet" type="text/css" href="main.css">
		<script src="JQuery/jquery-1.11.3.min.js"></script>
		<script src="Bootstrap/js/bootstrap.min.js"></script>
	</head>
	<body style="background-color:#600000">
		<header>	<table style="width:100%;border-style:solid;cellpadding:10px">
			<img src="images/icon2.jpg" alt="icon" style="postion:absolute;width:304px;height:200px;position;fixed;border-radius:100px;">
			<h1>CLASSBOOK</h1> <br /> <br/>
			<a href="/"><input type="button" value="Log Out" onclick="alert('Successfully logged out')" > </a>
			<input type="button" value="+ Add Classroom" onclick="prompt('Enter Course code: ')"> <br />
			<p>Hi User! Logged in as: Student</p>
				</header>
	
	<br>
	<hr>
	<br>
	<a href="Classroom/Classroom1.html">
			<div id="classroompanel">
				<h4>CMSC 127 ST-1L</h4><br>
				Angeles-Primavera<br>
				Initial Interface<br>
			</div>
		</a>

	<a href="Classroom/Classroom2.html">
			<div id="classroompanel">
				<h4>CMSC 124 T-2L</h4><br>
				Peralta<br>
				Stuff We dont want<br>
			</div>
		</a>
	<a href="Classroom/Classroom3.html">
			<div id="classroompanel">
				<h4>CMSC 131 C-3L</h4><br>
				Jaen<br>
				Assemble the Avengers<br>
			</div>
		</a>

	<a href="Classroom/Classroom4.html">
			<div id="classroompanel">
				<h4>CMSC 100 D-4L </h4><br>
				de Robles<br>
				Git Rekt<br>
			</div>
		</a>
	<a href="Classroom/Classroom5.html">
			<div id="classroompanel">
				<h4>SPCM 1 U1-6R</h4><br>
				Mendoza<br>
				Exam<br>
			</div>
		</a>

	<a href="Classroom/Classroom6.html">
			<div id="classroompanel">
				<h4>MGT111 H</h4><br>
				Fury<br>
				Infiltrate Pentagon<br>
			</div>
		</a>

		<footer style="position:fixed;bottom:0;width:100%;height:10px;color:#D8D8D8;text-align:center;background-color:#181818;padding:10px">
			Aragones Feudo Vibar 2015 CMSC 127 1st semester AY: 2015-2016 
		</footer>
	</body>
</html>