<!DOCTYPE html>
<html>
	<head>
		<meta charset = "utf-8"/>
		<title>Sign Up!</title>
		<link rel="stylesheet" href="Bootstrap/css/bootstrap.min.css">
		<link rel="stylesheet" type="text/css" href="main.css">
	</head>
	<body>
		<header>
			<img src="images/icon2.jpg" alt="icon" style="width:304px;height:200px;position;fixed;border-radius:100px;">
			<h1>CLASSBOOK</h1>
		</header>
		<div id="Log"> <center>	

		<h1>Sign up as: </h1> <br/>
			<div class="col-lg-6">
	          <a  href="signupteacher"><img class="img-circle" src="images/teacher.png" alt="Generic placeholder image" width="140" height="140"> </a>
	          <h2>Teacher</h2>
	          <p>As you are logged in as teacher, this allows you to create classroom. allow students to enroll in your class, post all the things</p>
	          <p><a class="btn btn-primary" href="signupteacher" role="button">Sign-up as Teacher</a></p>
	        </div>
	        <div class="col-lg-6">
	          <a  href="signupstudent"><img class="img-circle" src="images/student.png"  alt="Generic placeholder image" width="140" height="140"> </a>
	          <h2>Student</h2>
	          <p>As you are logged in as student, this allows you to enroll to a classroom, submit requirements online and check handouts in online classroom</p>
	          <p><a class="btn btn-primary" href="signupstudent" role="button">Sign-up as Student</a></p>
	        </div>
		</div>  </center>

		

		<footer>Aragones Feudo Vibar 2015 CMSC 127 1st semester AY: 2015-2016 </footer></center>
	</body>
</html>