<!DOCTYPE html>
<html>
	<head>
		<meta charset = "utf-8"/>
		<title>Sign Up!</title>
        <link rel="stylesheet" href="Bootstrap/css/bootstrap.min.css">
        <link rel="stylesheet" type="text/css" href="main.css">
        <script src="JQuery/jquery-1.11.3.min.js"></script>
        <script src="Bootstrap/js/bootstrap.min.js"></script>
        <script src= "teacher.js"> </script>
	</head>
	<body>
		<a href="/"><header>
			<img src="images/icon2.jpg" alt="icon" style="width:304px;height:200px;position;fixed;border-radius:100px;">
			<h1>CLASSBOOK</h1>
		</header> </a>
		<div class="container" style="margin-bottom:25px;">
            <form id="addTeacher" class="form-horizontal" role="form" action="/">
                <h2>Signing up as teacher</h2>
                <div class="form-group">
                    <label for="firstName" class="col-sm-3 control-label">Full Name</label>
                    <div class="col-sm-9">
                        <input type="text" id="firstName" placeholder="Full Name" class="form-control" autofocus>
                        <span class="help-block">Last Name, First Name, eg.: Smith, Harry</span>
                    </div>
                </div>
               <div class="form-group">
                    <label for="Username" class="col-sm-3 control-label">Username</label>
                    <div class="col-sm-9">
                        <input type="text" id="Username" placeholder="Username" required="" class="form-control" autofocus>
                    </div>
                </div>
                <div class="form-group">
                    <label for="password" class="col-sm-3 control-label">Password</label>
                    <div class="col-sm-9">
                        <input type="password" id="password" placeholder="Password" required="" class="form-control">
                    </div>
                </div>
                 <div class="form-group">
                    <label for="empno" class="col-sm-3 control-label">Employee Number</label>
                    <div class="col-sm-9">
                        <input type="text" id="empno" placeholder="XXXX-XXXXX" required="" class="form-control" pattern="\d{4}-\d{5}" autofocus>
                        <span class="help-block">20XX-XXXXX e.g. 2013-12345</span>
                    </div>
                </div>
                <div class="form-group">
                    <label for="Contactno" class="col-sm-3 control-label">Contact number</label>
                    <div class="col-sm-9">
                        <input type="text" id="Contactno" placeholder="09XX-XXX-XXXX" class="form-control" autofocus>
                        <span class="help-block">20XX-XXXXX e.g. 2013-12345</span>
                    </div>
                </div>
                <div class="form-group">
                    <label for="email" class="col-sm-3 control-label">Email</label>
                    <div class="col-sm-9">
                        <input type="email" id="email" placeholder="Email" required="" class="form-control">
                    </div>
                </div>
                     <button class="btn btn-lg btn-primary btn-block" type="submit">Sign up</button>
                     <button class="btn btn-lg btn-danger btn-block" type="button" onclick="window.location.reload(true)">Cancel</button>
                </div>
                </form>
		<footer>Aragones Feudo Vibar 2015 CMSC 127 1st semester AY: 2015-2016 </footer></center>
	</body>
</html>